/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/vendor/telescope/app.js
composer.json
composer.lock
app/Providers/TelescopeServiceProvider.php
config/telescope.php
public/vendor/telescope/app.css
public/vendor/telescope/app-dark.css
public/vendor/telescope/favicon.ico
public/vendor/telescope/mix-manifest.json
composer.lock
composer.json
